<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:black xmlns:black
      xmlns:color="http://www.w3.org/1999/xhtml" xmlns:margin-top="http://www.w3.org/1999/xhtml"
      xmlns:margin-left="http://www.w3.org/1999/xhtml" xmlns:margin-right="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concrete</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="fullBody">
    <h2 style="text-align:center;">Concrete strength Calculation</h2>
    <div class="takeInp">

        <form action="{{url_for('webApp')}}" method="POST">
            <div class="mb-3">
                <label for="cementInput" class="form-label">Cement</label>
                <input type="number" step="0.01" class="form-control" id="cementInput" name="cement">
            </div>
            <div class="mb-3">
                <label for="slagInput" class="form-label">Slag</label>
                <input type="number" step="0.01" class="form-control" id="slagInput" name="slag">
            </div>
            <div class="mb-3">
                <label for="ashInput" class="form-label">Ash</label>
                <input type="number" step="0.01" class="form-control" id="ashInput" name="ash">
            </div>
            <div class="mb-3">
                <label for="waterInput" class="form-label">Water</label>
                <input type="number" step="0.01" class="form-control" id="waterInput" name="water">
            </div>
            <div class="mb-3">
                <label for="superplasticInput" class="form-label">Superplastic</label>
                <input type="number" step="0.01" class="form-control" id="superplasticInput" name="superplastic">
            </div>
            <div class="mb-3">
                <label for="coarseaggInput" class="form-label">coarseagg</label>
                <input type="number" step="0.01" class="form-control" id="coarseaggInput" name="coarseagg">
            </div>
            <div class="mb-3">
                <label for="fineaggInput" class="form-label">fineagg</label>
                <input type="number" step="0.01" class="form-control" id="fineaggInput" name="fineagg">
            </div>
            <div class="mb-3">
                <label for="AgeInput" class="form-label">Age</label>
                <input type="number" step="0.01" class="form-control" id="AgeInput" name="age">
            </div>
            <input type="submit" class="btn-info" value="Predict" style="background-color: black; color: white; margin-top:5%; margin-left: 50%; margin-right: 50%;">
        </form>
    </div>
    <div class="prediction">
        <p>{{prediction}}</p>
    </div>

</body>


</html>